.col-2, .col-3, .col-lg-3, .col-sm-4, .col-md-3 {
     padding-left: 0;
     padding-right: 0;
}
/* Body */
 body {
     background-color: #FEFCF8;
     color: #868e96;
     margin-top: 10rem;
     width: 100%;
}
 @media (min-width: 992px) {
     body {
         background-color: #FEFCF8;
         color: #868e96;
         margin-top: 4rem;
    }
}
/* Side Navbar */
 .navbar {
     background-color: #f1bc31!important;
}
 .navbar-nav .nav-item .nav-link {
     color: #fff;
     font-size: large;
     font-weight: 800;
     letter-spacing: 0.05rem;
}
 @media (min-width: 992px) {
     .navbar {
         display: flex;
         flex-direction: column;
         height: 100vh;
         left: 0;
         position: fixed;
         text-align: center;
         top: 0;
         width: 17rem;
    }
     .navbar-brand {
         display: flex;
         margin: auto auto 0;
         padding: 0.5rem;
    }
     .navbar-brand .img-profile {
         border: 0.5rem solid rgba(255, 255, 255, 0.2);
         max-height: 10rem;
         max-width: 10rem;
    }
     .navbar-collapse {
         align-items: flex-start;
         display: flex;
         flex-grow: 0;
         margin-bottom: auto;
         width: 100%;
    }
     .navbar-collapse .navbar-nav {
         flex-direction: column;
         width: 100%;
    }
     .navbar-collapse .navbar-nav .nav-item {
         display: block;
    }
     .navbar-collapse .navbar-nav .nav-item .nav-link {
         display: block;
    }
}
/* Home Page */
 .intro-home, .recipe-card {
     margin-bottom: 6rem;
}
 .card-image {
     position: relative;
     z-index: -1;
}
 .card-home {
     background-color: #fff;
     box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
     margin-left: 10%;
     margin-top: -5%;
     padding-bottom: 20px;
     padding-top: 20px;
     width: 80%;
     z-index: 3;
}
@media (max-width: 991px){
 .nav-logo {
  height: 50px;
  width: 50px;
 }
}
/* Recipes */
 .recipe-card {
     background: #fff;
     width: 100%;
     padding: 20px 40px;
     border: 1px solid #ced4da;
     -webkit-box-shadow: 0px 10px 11px -5px rgba(0, 0, 0, 0.22);
     box-shadow: 0px 10px 11px -5px rgba(0, 0, 0, 0.22);
}
 .fas {
     color: #e25822;
     font-size: large;
     padding: 10px;
}
 .recipe-ingredients, .recipe-instructions {
     font-size: large;
     font-weight: 600;
     text-decoration: underline;
}
/* Browser Recipe */
 .browser-recipe-icons .fas {
     color: #e25822;
     font-size: small;
}
 .view-btn {
     background-color: #e25822;
     border-color: #e25822;
     color: #fff;
}
 .card img {
     height: 10%;
     margin-left: 20%;
     width: 60%;
}
 @media (max-width: 991px){
     .card-deck {
         display: flex;
         flex-direction: column;
    }
    .single-recipe-img {
     display: none;
    }
}
 @media (min-width: 992px) {
     .card img {
         height: 200px;
         margin-left: 0;
         width: 100%;
    }
}
/* Search Results */
 .search-result .fas {
     font-size: medium;
}
 .search-card img {
     height: 200px;
     margin-left: 0;
     width: 100%;
}
 @media (max-width: 768px) and (min-width: 578px) {
     .search-result {
         margin-left: 25px;
         margin-right: 25px;
    }
     .search-deck {
         display: flex;
         flex-direction: inherit;
         margin-left: 15px;
         margin-right: 15px;
    }
     .search-card {
         margin-left: 15px;
         margin-right: 15px;
    }
     .search-card img {
         height: 200px;
         margin-left: 0;
         width: 100%;
    }
}
 @media (min-width: 992px) {
     .card img {
         height: 250px;
         margin-left: 0;
         width: 100%;
    }
}
/* Add Recipe */
 .shadow {
     -moz-box-shadow: 3px 3px 5px 6px #ccc;
     -webkit-box-shadow: 3px 3px 5px 6px #ccc;
     box-shadow: 3px 3px 5px 6px #ccc;
}
 .label {
     font-weight: bold;
     margin-bottom: inherit;
     text-decoration: underline;
}
 .btn-sm .fas {
     color: #e25822;
     font-size: medium;
}
 .instruction-editor {
     background-clip: padding-box;
     background-color: #fff;
     border: 1px solid #ced4da;
     border-radius: .25rem;
     color: #495057;
     display: block;
     font-size: 1rem;
     font-weight: 400;
     line-height: 1.5;
     padding-bottom: 0.75rem;
     padding-top: 0.75rem;
     width: 100%;
}
 .submit-btns {
     align-items: center;
}
 .submit-btn {
     background-color: #007E33;
     border-color: inherit;
}
 .cancel-btn {
     background-color: #CC0000;
     border-color: inherit;
}
 @media (max-width: 991px) {
     .mobile-style {
         margin-top: 48px;
    }
}
 @media (min-width: 992px) {
     .flex-selection {
         align-items: baseline;
         display: flex;
         flex-direction: row;
    }
     .card img {
         height: 200px;
         margin-left: 0;
         width: 200px;
    }
}



/* All Recipes */

.all-cards {
 display: flex;
 flex-wrap: wrap;
}

.all-cards>* {
 flex: 1 1 300px;
}

.card-container {
 width: 90%;
 margin-left: 0 auto;
 margin-right: 0;
 padding: 0.5em 0;
}

.recipe {
 width: 300px;
 margin: 0.5em auto;
 background-color: #fff;
 border: 1px solid #ced4da;
 height: auto;
 padding-bottom: 20px;
 -webkit-box-shadow: 0px 10px 11px -5px rgba(0, 0, 0, 0.22);
 box-shadow: 0px 10px 11px -5px rgba(0, 0, 0, 0.22);
}

.recipe-image,
.description {
 width: 90%;
 margin: 0 auto;
}

.recipe-image img {
 display: block;
 margin: 0 auto;
 width: 90%;
 height: 200px;
}


@media (max-width: 991px){
 .search-bar{
  padding-left: 0;
 }
}