{% extends 'base.html' %}
{% block view_all %}

<!-- Browser Card -->
  <div class="intro-home col-lg-6 offset-lg-4">
  
    <!-- Card image -->
    <div class="card-image">
      <img class="img-fluid" src="https://res.cloudinary.com/dbnahdjbc/image/upload/v1572463755/A%20Chefs%20Book/1717f981-670a-4306-bbfd-4657d2dd97e9_zkktwv.jpg"
        alt="View All Image">
    </div>
  
    <!--Card Text-->
    <div class="card-home text-center">
      <h5>Search for a recipe</h5>
      <!-- Search form -->
      <form class="form-inline md-form form-sm mt-0 pl-5 search-bar" action="{{url_for('search_bar')}}" method="POST">
        <i class="fas fa-search" aria-hidden="true" for="submit-form"></i>
        <input class="form-control form-control-sm ml-3 w-75" type="text" name="search_text" placeholder="Search" aria-label="Search" required>
      </form>
    </div>
  </div>




<!-- Recipe Cards -->
<div class="all-recipes col-lg-10 offset-lg-2">

<section class="all-cards">
  {% for recipe in recipes %}
  <div class="card-container">
    <div class="recipe">
        <div class="recipe-image">
          <img src="{{recipe.recipe_image}}" alt="recipe-image">
        </div>
        <div class="description">
          <h5 class="text-center pt-2">{{recipe.recipe_name}}</h5>
          <hr>
          <!-- Recipe details-->
          <ul class="browser-recipe-icons list-unstyled">
            <li class="fav-details-list"><i class="fas fa-user "></i><span>{{recipe.dish_type}}</span></li>
            <li class="fav-details-list"><i class="fas fa-clock "></i><span>{{recipe.preparation_time}}</span></li>
            <li class="fav-details-list"><i class="fas fa-stopwatch "></i><span>{{recipe.cooking_time}}</span></li>
            <li class="fav-details-list"><i class="fas fa-signal "></i><span>{{recipe.recipe_difficulty}}</span></li>
          </ul>
        </div>
        <!-- View Single Recipe -->
        <div class="submit-btns col-12">
          <a class="btn btn-primary view-btn" role="button" href="{{url_for('single_recipe', recipe_id=recipe._id)}}">View Recipe</a>
        </div>
    </div>
  </div>
  {% endfor %}
</section>  
</div>

{% endblock %}