{% extends 'base.html' %}
{% block home_page %}

    <!-- Home Card -->
    <div class="intro-home col-lg-6 offset-lg-4">
        
        <!-- Card image -->
        <div class="card-image">
            <!-- Credits to the following for the image: Made in a Pinch  -->
            <img class="img-fluid" src="https://res.cloudinary.com/dbnahdjbc/image/upload/v1571576090/A%20Chefs%20Book/Using-in-season-Fall-harvest-foods-in-your-meals-helps-save-money-and-add-a-huge-health-benefit.-Get-great-tips-and-recipes-at-Made-in-a-Pinch-and-follow-us-on-Pinterest1-min_brnfuq.png"
                alt="Home Image">
        </div>
        
        <!--Card Text-->
        <div class="card-home text-center">
            <h5 class="card-title"><strong></strong>A Chef's Book</h5>
            <p class="card-text">Where you can find a collection of recipes</p>
        </div>
    </div>
    
{% endblock %}