{% extends 'base.html' %}
{% block content %}
        {% for recipe in recipes %}
            {{recipe.recipe_name}}
            {{recipe.recipe_description}}
            {{recipe.dish_type}}
            {{recipe.recipe_difficulty}}
            {{recipe.recipe_serving}}
            {{recipe.preparation_time}}
            {{recipe.cooking_time}}
            {{recipe.cooking_process}}
            {{recipe.recipe_rating}}
            {{recipe.recipe_ingredients}}
            {{recipe.recipe_instruction}}
        {% endfor %}
{% endblock %}